@model Products.Models.Sale

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                Category
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>

            <div class="form-group">
                Sub Category
                <select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId"></select>
            </div>

            <div class="form-group">
                Model
                <select asp-for="ProductModelId" class="form-control" asp-items="ViewBag.ProductModelId"></select>
            </div>

            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModeOfPaymentId" class="control-label"></label>
                <select asp-for="ModeOfPaymentId" class="form-control" asp-items="ViewBag.ModeOfPaymentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CucstomerName" class="control-label"></label>
                <input asp-for="CucstomerName" class="form-control" />
                <span asp-validation-for="CucstomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailID" class="control-label"></label>
                <input asp-for="EmailID" class="form-control" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBilling" class="control-label"></label>
                <input asp-for="DateOfBilling" class="form-control" />
                <span asp-validation-for="DateOfBilling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {

        $("#CategoryId").change(function (e) {
            var url = '@Url.Content("~/")' + "Sales/GetSubCategories";
            var _categoryId = $("#CategoryId").val()
            $.getJSON(url, { CategoryId: _categoryId }, function (data) {
                var items = '';
                $("#SubCategoryId").empty();
                $.each(data, function (i, subCategory) {
                    items += "<option value='" + subCategory.value + "'/>" + subCategory.text + "</option>"
                });
                $("#SubCategoryId").html(items);
            });
        });


        $("#SubCategoryId").change(function (e) {
            var url = '@Url.Content("~/")' + "Sales/GetProductModels";
            var _subCategoryId = $("#SubCategoryId").val()
            $.getJSON(url, { SubCategoryId: _subCategoryId }, function (data) {
                var items = '';
                $("#ProductModelId").empty();
                $.each(data, function (i, productModel) {
                    items += "<option value='" + productModel.value + "'/>" + productModel.text + "</option>"
                });
                $("#ProductModelId").html(items);
            });
        });


         $("#ProductModelId").change(function (e) {
            var url = '@Url.Content("~/")' + "Sales/GetProducts";
             var _productModelId = $("#ProductModelId").val()
             $.getJSON(url, { ProductModelId: _productModelId }, function (data) {
                var items = '';
                 $("#ProductId").empty();
                $.each(data, function (i, product) {
                    items += "<option value='" + product.value + "'/>" + product.text + "</option>"
                });
                 $("#ProductId").html(items);
            });
        });


    });
</script>
}


